:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  background-color: #E0E1DD;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  margin: 0;
  box-sizing: border-box;
  display: block;
  text-align: center;
  max-width: none;
}

.main-content{
  min-height: 100vh; 
}

html,body{
  background-color: #E0E1DD;
  display: block;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.main-content{
  flex:1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}





.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Header */

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8vh;
  background-color: #1B263B;
  position: sticky;
}

#slogan{
  position: relative;
  top: 20px;
  right: 60px;
}

.headerContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerContainer img {
  width: 275px;
  height: 195px;
}

.headerUsuario{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
}

.headerUsuario .botonCrearCuenta{
  margin-right: 5px;
}

.botonCrearCuenta{
  width: 100px;
  height: 35px;
  font-size: small;
  display: block;
  align-items: center;
  border-radius: 35px;
  background-color: #778DA9;
  border: none;
  cursor: pointer;
}

.botonInicioSesion{
  width: 100px;
  height: 35px;
  font-size: small;
  display: block;
  border-radius: 35px;
  background-color: #778DA9;
  border: none;
  cursor: pointer;
}


/* footer */

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0d1b2a;
  flex-shrink: 0;
  margin-top: auto;
}

.derechosFooter{
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
}

.derechosFooter ul{
  margin-top: 17px;
}

.derechosFooter ul li{
  list-style-type: none;
  margin-left: 20px;
  font-size: small;
  padding-top: 5px;
  list-style: none;
  color: #E0E1DD;
}

.derechosFooter img{
  width: 90px;
  height: auto;
}

.iconosFooter{
  padding-right: 10px;
  padding-top: 25px;
}

.iconosFooter img {
  width: 32px; 
  height: 32px; 
  margin-right: 3px;
  align-items: center;
}




/* Home */


/* Clases que manejan las secciones de peliculas en el home */

.billboard-section{
  align-items: center;
  box-sizing: border-box;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.billboard-section h3{
  color:black;
  text-align: center;
}

.billboard-section button{
  margin: 30px 0px;
}

.recommended-section{
  background-color: #D9D9D9;
  align-items: center;
  box-sizing: border-box;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.recommended-section h3{
  color:black;
  text-align: center;
}

.movie-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta los valores según tus necesidades */
  grid-gap: 10px;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 20px;
  width: 80%;
}

.movie-container::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

.movie-container::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 20px;
}

.movie-container::-webkit-scrollbar-track{
  background:transparent;
}

.movie-card{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.movie-card figure{
  width: 200px;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 6px; 
  box-shadow: 0px 15px 25px rgba(0,0,0,0.7);
  cursor: pointer;
  margin: 0;
  
  flex-grow: 0;
}

.content-loader{
  width: 200px;
  height: 280px;
  flex-grow: 0;
}

.movie-card figure img{
  width: 100%;
  height: 100%;
  transition: all 1s ease-out;
}

.opt-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position:absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}

.opt-card button{
  width: 80%;
}

.movie-card figure:hover > .opt-card{
  opacity: 1;
  visibility: visible;
}

/* Clases que manejan el carrusel de categorias home */

.categories-section {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  word-wrap: break-word;
}

.carrousel-slider{
  width: 70%;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.categorie-card{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.categorie-card figure{
  width: 300px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.7);
  cursor: pointer;
}

.categorie-card figure img{
  width: 100%;
  height: 100%;
  flex-grow: 1;
  transition: all 1s ease-out;
}

.categorie-card figure h4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
  opacity: 1;
}

.categorie-card figure:hover > h4{
  backdrop-filter: blur(10px);
}

.first-button,
.last-button {
  color: #000;
  width: 30px;
  height: 100%;
  position: relative;
  text-align: center;
  z-index: 999;
}

/** Seccion de vista de detalles **/

.movie-first-div{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 30px;
  color: black;
}

.movie-second-div{
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  color: black;
  padding-top: 40px;
}

.movie-second-div img{
  width: 30%;
}

.movie-second-div p{
  width: 40%;
}

.movie-third-div{
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.movie-third-div button{
  margin: 10px;
  background-color: #0D1B2A;
}

.modal-overlay{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: black;
}

.modal-overlay.hidden {
  display: none;
}

/** Panel de administrador **/

.admin-form{
  text-align: center;
}

.admin-form form label{
  color: black;
}

.form-title{
  height: 3vh;
  width: 70%;
  text-align: center;
  margin: 10px 0px 30px 0;
}


.admin-form form {
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.date-container{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-description{
  height: 15vh;
  width: 70%;
  text-align: center;
}

.date-picker{
  width: 200px;
  text-align: center;
}

.form-categories{
  text-align: center;
  width: 30%;
  height: 10%;
  margin: 10px 0 30px 0;
}

.form-image{
  object-fit: contain;
  height: 40%;
  display: flex;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  margin:10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.form-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dropzone{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
@media (min-width:425px) {
  
  .headerUsuario {
    flex-direction: column;
    justify-content: space-around;
    height: 145px;
  }
  .headerUsuario button{
    font-size: 12px;
  }
  .iconosFooter{
    justify-content: space-evenly;
    width: 20vw;
    flex-direction: row;
  }
  .iconosFooter a {
    margin-right: 6px;
  }
}

@media (min-width:768px) {
  .headerUsuario{
    flex-direction: row;
    width: 45vw;
  }
  .headerUsuario button{
    font-size: 12px;
  }
  .iconosFooter{
    width: 30vw;
  }
  .iconosFooter a {
    margin-right: 15px;
    font-size: 3vw;
  }
  footer ul {
    margin-left: 15vw;
  }
  .derechosFooter img{
    width: 130px;
    height: 115px;
  }
}
