:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-color: #E0E1DD;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  margin: 0;
  box-sizing: border-box;
  display: block;
  text-align: center;
  max-width: none;
}

.main-content {
  min-height: 100vh;
  padding-top: 70px;
  background-color: #0D1B2A;
}

html,
body {

  display: block;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  color: #1b263b
}

button {
  border-radius: 8px;

  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


nav {
  display: flex;
  justify-content: space-around;
}

.main-content button {
  padding: 10px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.modal-conteiner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  background-color: #1B263B;
}

.modal-image-conteiner{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: #1B263B;
}

.modal-image-content{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  width: 100%;
  height: 100%;
}


.detail-image-part{
  align-self: flex-start;
  width: 100%;
  height: 5%;
  background-color: #1B263B;
  display: flex;
}

.modal-image-preview{
  width: 100%;
  height: 95%;
}

.modal-object{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}


.detail-image-part img{
  height: 50%;
  align-self: center;
  width: auto;
  margin-left: 5px;
}

.modal-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1B263B;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 70px;
}

.account-container {
  position: relative;
  padding-right: 30px;
}

.account-trigger {
  display: flex;
}

.account-trigger img {
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  align-self: center;
}


.drop-down-profile {
  position: absolute;
  top: 58px;
  right: 30px;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
}

.drop-down-profile::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.drop-down-profile.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.drop-down-profile.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.drop-down-profile ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.drop-down-profile ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.drop-down-profile ul li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.drop-down-profile ul li:hover img {
  opacity: 1;
  cursor: pointer;
}



.drop-down-item a {
  text-decoration: none;
  transition: var(--speed);
}

.header-section {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  align-items: center;

}

.header-section p {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.header-section p:hover {
  color: #778DA9;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.headerContainer img {
  width: 180px;
}

.right-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
}

.error-message-header {
  width: 200px;
}

.search-bar {
  background-color: white;
  align-self: center;
  border-radius: 60px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  width: 300px;
}

.search-movie {
  display: flex;
  align-self: center;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;

  font-size: 15px;
  color: #1b263b;
}

.search-bar button img {
  width: 10px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: rgba(148, 114, 114, 0.082);
  cursor: pointer;
}

/* footer */

footer {
  background-color: #1B263B;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}




.information-footer ul {
  padding: 0;
  margin: 0;
}

.information-footer ul li {
  list-style-type: none;
  font-size: small;
  padding-top: 5px;
  align-self: center;
  list-style: none;
  color: #E0E1DD;
}


.derechosFooter img {
  width: auto;
  height: 100px;
  align-self: center;
}

.iconosFooter svg {
  height: 30px;
  padding-right: 5px;
}



.iconosFooter {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}


/* Home */


/* Clases que manejan las secciones de peliculas en el home */

.carousel-section {
  width: 100%;
  height: 60vh;
  padding-bottom: 20px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}



.card {

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 70%;
  height: 90%;
  cursor: pointer;
  z-index: 0;
  opacity: 0;
  transition: 500ms;

}



.card figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card figure div {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.card figure div h1 {
  color: white;
  margin: 0;
}

.card figure div h3 {
  color: white;
  font-weight: 300;
}

.card figure div h4 {
  color: white;
  font-weight: 100;
}

.card figure div button {
  margin: 10px 0px;
  background-color: #1b263b
}

.card figure div button:hover {
  color: #1b263b;
  background-color: white;
  border: 3px solid #1b263b;
  transition: 300ms;
}


.card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card::before {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 95%;
  height: 30px;
  background: rgba(218, 193, 193, 0.212);
  border-radius: 60%;
  z-index: -1;
  filter: blur(7px);
}

.card--active {
  opacity: 1;
  transform: scale(1);
  z-index: 99;
}

.card--left {
  transform: translateX(-100%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
}

.card--right {
  transform: translateX(100%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
}

.billboard-section {
  margin-top: 20px;
  align-items: center;
  box-sizing: border-box;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.billboard-section h2 {
  color: white;
  align-self: flex-start;
  font-weight: 200;
  padding-left: 16%;
}

.billboard-section button {
  margin: 15px 0px;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid #415A77;
  color: #415A77;
}

.billboard-section button:hover {
  background-color: #415A77;
  color: white;
  transition: 300ms;
}

.recommended-section {
  padding-bottom: 30px;
  align-items: center;
  box-sizing: border-box;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.recommended-section h2 {
  color: white;
  align-self: flex-start;
  font-weight: 200;
  padding-left: 16%;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 30px;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;

  padding-bottom: 20px;

  width: 100%;
}

.movie-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

.movie-container::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

.movie-container::-webkit-scrollbar-track {
  background: transparent;
}

.movie-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card figure {
  width: 200px;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin: 0;

  flex-grow: 0;
}


.content-loader {
  width: 200px;
  height: 280px;
  flex-grow: 0;
}

.movie-card figure img {
  width: 100%;
  height: 100%;
  transition: all 1s ease-out;
}

.opt-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}

.opt-card button {
  width: 100%;
}

.movie-card figure:hover>.opt-card {
  opacity: 1;
  visibility: visible;
}

/* Clases que manejan el carrusel de categorias home */

.categories-section {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  word-wrap: break-word;
}

.carrousel-slider {
  width: 70%;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.categorie-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.categorie-card figure {
  width: 300px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.categorie-card figure img {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  transition: all 1s ease-out;
}

.categorie-card figure h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
  opacity: 1;
}

.categorie-card figure:hover>h4 {
  backdrop-filter: blur(2px);
}

.first-button,
.last-button {
  padding: 0px 10px;
  width: 20px;
  height: 100%;
  position: relative;
  text-align: center;
  z-index: 99;
}

/** Seccion de vista de detalles **/

.movie-details {
  background-color: white;
}

.banner-video {
  width: 100%;
  height: 60vh;
  background-position: left calc((50vw - 170px) - 340px) top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/banner-guardianes.jpg');
  position: relative;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.7);
}

.banner-details {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(to right, rgba(31.5, 10.5, 94.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 10.5, 94.5, 0.84) 50%, rgba(31.5, 10.5, 94.5, 0.84) 100%);
}

.movie-first-info {
  position: absolute;
  top: 40%;
  left: 15%;
}

.movie-first-info-details {
  text-align: left;
  color: black;
  font-weight: 500;
}

.movie-first-info-details h4 {
  color: #1B263B;
  font-weight: 300;
}

.movie-first-info img {
  width: 30vh;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 3;
}

.play-icon {
  width: 5%;
  align-self: center;
}

.video-details {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 3%;
  left: 5%;
  z-index: 101;
}

.detail-video-part {
  display: flex;
  flex-direction: row;
  height: 4%;
  align-items: center;
  background-image: linear-gradient(to right, rgba(27, 38, 59, 1) calc((50vw - 170px) - 340px), rgba(27, 38, 59, 0.84) 50%, rgba(27, 38, 59, 0.84) 100%);
}

.detail-video-part img {
  height: 40%;
  margin-right: 3%;
  padding-left: 10px;
}


.movie-details-title {
  position: absolute;
  bottom: 0;
  left: 33%;

}

.movie-details-title h2 {
  color: white;
}

.movie-details-description {
  text-align: left;
  width: 50%;
  color: #000;
}

.movie-details-description p {
  font-weight: 500;
}

.movie-details-second {
  position: relative;
  height: 50vh;
}

.movie-second-info {
  position: absolute;
  top: 2%;
  left: 35%;
  width: 50%;
  display: flex;
}

.movie-second-info h2 {
  color: #61635d;
  font-weight: 100;
}

.dates-button {
  margin: 0px 5px;
  background-color: #1B263B;
}

.movie-details-related {
  width: 50%;
  padding-left: 30px;
  text-align: left;
  border-left: 2px solid #1B263B;
}

.movie-details-related .movie-container {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
}

.grid-container {
  display: flex;
  position: relative;
}


.half-left {
  width: 50vw;
}

.half-left img {
  width: 450px;
  height: auto;
}

.half-right {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.half-right>div {
  width: 100%;
  height: 100%;
}

.half-right>div img {
  height: 100%;
  object-fit: contain;
}

.button-container {
  position: absolute;
  bottom: 5px;
  right: 50px;
}

.movie-second-div {
  padding: 20px 0;
}

/** Panel de administrador **/

.admin-banner {
  width: 100%;
  height: 40vh;
  background-position: bottom 50% left 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/banner-admin.jpg');
  position: relative;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.7);
}

.admin-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(12, 12, 12) calc((50vw - 170px) - 340px), rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.3) 100%);
}

.admin-links {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.admin-links a {
  text-decoration: none;
  color: white;
}

.admin-links a:hover {
  text-decoration: underline;
}

.admin-links a:enabled {
  text-decoration: underline;
}

.admin-details h1 {
  font-weight: 300;
  padding-left: 5%;
}

.admin-details h2 {
  font-weight: 100;
  width: 50%;
  text-align: left;
  padding-left: 5%;
}

.admin-form {
  text-align: center;
  border: none;
}

.admin-form h3 {
  color: #1b263b;
}

.admin-form form label {
  color: white;
}

.form-title {
  background-color: #1B263B;
  border: none;
  border-radius: 10px;
  height: 4vh;
  width: 40%;
  padding-left: 20px;
  text-align: left;
  margin: 10px 0px 30px 0;
}


.admin-form form {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: flex-start;
  padding-left: 100px;
  height: auto;
}

.date-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.date-container label{
  text-align: left;
  margin-bottom:10px;
}

.form-description {
  margin: 10px 0px;
  background-color: #1B263B;
  border: none;
  border-radius: 10px;
  height: 15vh;
  width: 50%;
  text-align: center;
}

.rmdp-input{
  background-color: #1B263B;
  border: none;
  width: 200px;
}

.form-categories {
  border: 2px solid #1b263b;
  background-color: #ADADAD;

  text-align: center;
  width: 30%;
  height: 20%;
  margin: 10px 0 30px 0;
}

.form-categories option:hover {
  font-size: medium;
}

.form-image {
  object-fit: contain;
  height: 40%;
  display: flex;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.form-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dropzone-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-self: left;
  width: 60%;
  height: auto;
  background-color: #1B263B;
  border-radius: 10px;
  margin: 20px 0;
}

.dropzone{
  width: 96%;
  align-self: center;
  border: 1px dashed #E0E1DD;
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  background-color: #415A77;
}

.dropzone-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0px;
}

.dropzone-info p{
  font-size: small;
  font-weight: 500;
}

.dropzone-info img{
  width: 15%;
  height: auto;
  align-self: center;
  object-fit: cover;
}

.extensions-preview{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.empty-files{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 10px 0;
}

.empty-files img{
  align-self: center;

}

.empty-files h3{
  color: #415A77;
}

.extension-container{
  width: 20%;
}

.extensions-preview h4{
  margin: 0;
  font-size: 10px;
  margin-bottom: 3px;
}

.extensions-preview img{
  width: 20%;
}

.extension-buttons button{
  background-color: transparent;
  border: none;
  padding: 0;
  width: 8%;
  margin: 3px;
}

.show-button img{
  width: 100%;
}

.delete-button img{
  width: 100%;
}

.form-image {
  border-radius: 20px;
}

.admin-form form button{
  align-self: center;
  background-color: white;
  color: #1B263B;
  margin-top: 10px;
  margin-bottom: 30px;
}

.tabla {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px 20%;
}

.modal-confirmation{
  width: 100%;
  height: 100%;
}

.confirmation-content{
  background-color: #1B263B;
  width: 50%;
  height: 20%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirmation-content .modal-buttons button{
  width: 5vh;
  height: 3vh;
  background-color: #415A77;
  margin: 0px 20px;
}

/** vista Asignar Categorías **/
div.asignoCategorias{
  display: flex;
  justify-content: space-between;
}

/** Vista de mostrar todas las peliculas **/

.all-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-div {
  display: flex;
  justify-content: center;
}

.pages {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.page-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: start;

  padding: 20px
}

.page-container .movie-card {
  width: auto;
  padding: 10px;

}

.page-container .movie-card figure {
  padding: 0;
  margin: 0;

}

.page-container .movie-card figure img {
  object-fit: fill;
}

.input-pages {
  text-align: center;
  font-size: 14px;
  width: auto;
  padding: 10px 0;
}

.pages-numbers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 10px;
}

.pages-numbers p {
  color: #3d3f42;
  margin: 0 5px;
}

.page-container .content-loader {
  margin: 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


/** Inicio sesion **/

.sign-in-background {
  height: 100vh;
  padding: 25px 0 0 0;
  background-image: url(../public/fondo-registro.jpg);
  background-position: center;
  background-size: cover;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sign-in {
  align-items: center;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  filter: drop-shadow(0 0 1em #778DA9);
}

.sign-in-first {
  width: 80%;
  padding: 100px 40px;
  background-color: white;
  color: #1B263B;
  border-radius: 30px 0px 0px 30px;
}


.sign-in-first button {
  align-self: center;
  width: 40%;
  background-color: #778DA9;
  border: 2px solid #0D1B2A;
  margin-top: 20px;
  border-radius: 30px;
}

.sign-in-first button:hover {
  background-color: #0D1B2A;
}

.sign-in-second {
  background-color: #1B263B;
  height: 100%;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 30px 30px 0px;
}

.sign-in-second p {
  margin: 0px 20px;
}

.sign-in form {
  display: flex;
  flex-direction: column;
}


.sign-in-inputs {
  align-self: center;
  height: 50px;
  width: 70%;
  background-color: white;
  border: 0px;
  filter: drop-shadow(0 0 1em #778DA9);
  padding-left: 40px;
  color: #1b263b;
  border-radius: 30px;
}



#input-username {
  margin: 30px 0px;
}

#input-password {
  margin-bottom: 15px;
}

.remember-me label {
  margin: 0px 20px 0px 0px;
}

.remember-me {
  margin: 0px 0px 20px 0;
}

.register-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.register-div p {
  margin: 0px 5px;
}

/** Vista registro **/

.register {
  padding: 25px 0 0 0;
  min-height: 100vh;
  background-image: url(../public/fondo-registro.jpg);
  background-position: center;
  background-size: cover;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container input {
  width: 50%;
  align-self: center;
  height: 50px;
  padding-left: 40px;
  border-radius: 30px;
  color: #1b263b;
  filter: drop-shadow(0 0 1em #778DA9);
  background-color: white;
  margin: 15px 0px
}

.register-seccion1 {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  justify-content: space-evenly;
}

.register-seccion1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.register-seccion1 div input {
  align-self: center;
  width: 100%;
}

.register-seccion1 p {
  text-align: center;
  width: 50%;
}

.register-container p {
  font-size: small;
  color: red;
  margin: 4px 0px 15px 0px;
}

.error-input {
  background-color: white;
  border: 1px solid red;

}


.register-container form {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: center;
  filter: drop-shadow(0 0 1em #778DA9);
  background-color: white;
  border-radius: 30px;
  color: #1b263b;
  padding: 40px 0;
}

.register-container .date-container label {
  margin: 0px 5px 0px 0px;
}


.register-input {
  border: 0px;
}


.new-button {
  align-self: center;
  width: 40%;
  background-color: #778DA9;
  border: 2px solid #0D1B2A;
  margin-top: 20px;
  border-radius: 30px;
}

.new-button:hover {
  background-color: #0D1B2A;
}

/** Tablet **/

@media (min-width:425px) and (max-width:768px) {
  .movie-second-div {
    flex-direction: column;
  }

  .movie-second-div .image-details {
    width: 100%;
  }

  .movie-second-div .image-details img {
    width: auto;
    height: 40vh;

  }

  .movie-second-div .description {
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }

  .movie-third-div {
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .loadingImage {
    width: 70%;
    height: 40vh;
  }

  .loading-tilte {
    width: 100%;
    height: 10vh;
  }
}

@media (min-width:320px) and (max-width:425px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .headerContainer img {
    height: 130px;
    width: 200px;
  }

  .headerUsuario {
    flex-direction: column;
    justify-content: space-around;
    height: 145px;
  }

  .headerUsuario {
    padding: 0;
    margin: 0;
  }

  .headerUsuario button {
    font-size: 12px;
  }

  .iconosFooter {
    justify-content: space-evenly;
    width: 20vw;
    flex-direction: row;
  }

  .iconosFooter a {
    margin-right: 6px;
  }

  .movie-second-div {
    flex-direction: column;
  }

  .movie-second-div .image-details {
    width: 100%;
  }

  .movie-second-div .image-details img {
    width: auto;
    height: 40vh;

  }

  .movie-second-div .description {
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }

  .movie-third-div {
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .loadingImage {
    width: 70%;
    height: 40vh;
  }

  .loading-tilte {
    width: 100%;
    height: 10vh;
  }
}